.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lyrics-container {
  overflow-y: scroll;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-height: 55vh;
  flex: 2;
}

.lyrics-container::-webkit-scrollbar {
  display: none;
}

.lyric-line {
  font-size: 18px;
  line-height: 1.5;
  cursor: pointer;
  opacity: 0.4;
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
}
.lyric-line.active {
  color: var(--color-fill);
  font-weight: bold;
  opacity: 1;
  transform: scale(1.2);
}

.video-container {
  position: fixed;
  top: 0;
  right: 0;
}

.side-by-side-songs-lyrics-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.floating-fixed-bottom-container {
  width: 100vw;
  margin-top: 10rem;
  position: fixed;
  bottom: 0;
}

.fullscreen-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10000;
  position: fixed;
}

.full-screen-mode * {
  max-height: unset !important;
  font-size: 30px !important;
}

.full-screen-mode {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  opacity: 0;
  transform: scale(0.95);
  text-align: center;
  overflow: scroll;
  pointer-events: none; /* Prevent interaction when hidden */
}

.full-screen-mode.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.non-fullscreen-mode.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

button {
  font-family: inherit;
}
