.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lyrics-container {
  max-height: 600px;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  max-height: 60vh;
}

.lyrics-container::-webkit-scrollbar {
  display: none;
}

.lyric-line {
  font-size: 18px;
  line-height: 1.5;
  cursor: pointer;
  opacity: 0.4;
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
}
.lyric-line.active {
  color: var(--color-fill);
  font-weight: bold;
  opacity: 1;
  transform: scale(1.2);
}

.video-container {
  position: fixed;
  top: 0;
  right: 0;
}

.songs-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.songs-list li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.songs-list li:hover {
  background-color: var(--color-fill);
}

.songs-list i {
  font-size: 0.7rem;
}
.song-selected {
  background-color: var(--color-fill);
  color: white;
}
