.container {
  width: 100vw;
  margin-top: 20rem;
  position: fixed;
  bottom: 0;
}

.audio-player {
  background: #f0f0f0;
  padding: 30px;
  border-radius: 3px;
}

.audio-player__episode_title {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  color: #333;
}

.audio-player__title {
  display: flex;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 11px;
  color: #555;
}

.audio-player__meta {
  background: #ddd;
  margin: 40px -30px -30px -30px;
  padding: 0 30px 30px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.artwork {
  margin-right: 0;
  transform: translateY(-70px);
}

.artwork img {
  border-radius: 3px;
  width: 10rem;
  height: 10rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  margin-bottom: -80px;
  transition:
    width 1s,
    height 1s,
    ease-out 1s;
}

@media (max-width: 600px) {
  .artwork img {
    width: 4rem;
    height: 4rem;
    transition:
      width 1s,
      height 1s,
      ease-in 1s;
  }
}

.controls {
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 1rem;
}

.audio-player__play {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  flex-grow: 1;
}

.audio-player__play-button,
.audio-player__pause-button {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 1rem;
}

.audio-player__play-button {
  background: transparent
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24'><polygon points='5,3 5,21 19,12' fill='black'/></svg>")
    no-repeat center;
}

.audio-player__pause-button {
  background: transparent
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24'><rect x='4' y='3' width='5' height='18' fill='black'/><rect x='15' y='3' width='5' height='18' fill='black'/></svg>")
    no-repeat center;
}

.progress-container {
  flex-grow: 2;
  margin: 0 10px;
}

.seek-bar {
  width: 100%;
}

.time-display {
  flex-grow: 1;
  color: #777;
  font-weight: normal;
  min-width: 5rem;
}

.youtube-player {
  display: none;
}
/*Seek bar customization*/

:root {
  --color-fill: rgb(59 122 171 / 80%);
  --font-size: 14px;

  --color-default: rgba(255, 255, 255, 0.5);
  --color-hover: rgba(255, 255, 255, 0.7);
  --color-active: rgba(255, 255, 255, 1);
}

input[type="range"] {
  box-sizing: border-box;
  font-size: var(--font-size);
  line-height: 1;
  height: 2em;
  background-color: transparent;
  cursor: pointer;

  -webkit-appearance: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  margin-top: 0;
  background-color: var(--color-fill);
  border-radius: 1em;
  border: 2px solid var(--color-default);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 2em;
  height: 2em;
  background-color: var(--color-fill);
  border-radius: 1em;
  border: 2px solid var(--color-default);
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 2em;
  height: 2em;
  background-color: var(--color-fill);
  border-radius: 1em;
  border: 2px solid var(--color-default);
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:hover::-webkit-slider-thumb {
  border-color: var(--color-hover);
}

input[type="range"]:hover::-moz-range-thumb {
  border-color: var(--color-hover);
}

input[type="range"]:hover::-ms-thumb {
  border-color: var(--color-hover);
}

input[type="range"]:active::-webkit-slider-thumb {
  border-color: var(--color-active);
}

input[type="range"]:active::-moz-range-thumb {
  border-color: var(--color-active);
}

input[type="range"]:active::-ms-thumb {
  border-color: var(--color-active);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid var(--color-default);
  background-color: transparent;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  height: 1em;
  border-bottom: 2px solid var(--color-default);
  background-color: transparent;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

section {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-fill);
}

section div {
  margin: auto;
  width: 80%;
}

section h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 100px;
  text-align: center;
  font-size: 42px;
  color: rgba(0, 0, 0, 0.3);
}
