.audio-player {
  background: #f0f0f0;
  padding: 30px;
  border-radius: 3px;
}

.audio-player__episode_title {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  color: #333;
}

.audio-player__title {
  width: fit-content;
  cursor: pointer;
  display: flex;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 11px;
  color: #555;
  transition:
    display 1s,
    padding 1s,
    ease-in-out 1s;
}

.artist-selected {
  background-color: var(--color-fill);
  padding: 0.4rem;
  border-radius: 1rem;
  transition:
    padding 1s,
    ease-in-out 1s;
}

.audio-player__meta {
  background: #ddd;
  margin: 40px -30px -30px -30px;
  padding: 0 30px 30px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.artwork {
  margin-right: 0;
  transform: translateY(-70px);
}

.artwork img {
  border-radius: 3px;
  width: 10rem;
  height: 10rem;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
  margin-bottom: -80px;
  transition:
    width 1s,
    height 1s,
    ease-in-out 1s;
}

@media (max-width: 600px) {
}

.controls {
  display: flex;
  align-items: center;
  width: 90%;
  margin-top: 1rem;
}

.audio-player__play {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  flex-grow: 1;
}

.audio-player__play-button,
.audio-player__pause-button {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  border: none;
  cursor: pointer;
  outline: none;
  margin-top: 1rem;
}

.audio-player__play-button {
  background: transparent
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24'><polygon points='5,3 5,21 19,12' fill='black'/></svg>")
    no-repeat center;
}

.audio-player__pause-button {
  background: transparent
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 24 24'><rect x='4' y='3' width='5' height='18' fill='black'/><rect x='15' y='3' width='5' height='18' fill='black'/></svg>")
    no-repeat center;
}

.progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 2;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .progress-container {
    margin: 0 0 3rem -0.5rem;
    position: absolute;
    top: 8.5rem;
    width: 100vw;
    transition:
      width 1s,
      ease-in 1s;
  }
  .artwork img {
    width: 4rem;
    height: 4rem;
    transition:
      width 1s,
      height 1s,
      ease-in 1s;
  }
  .audio-player__episode_title {
    margin-top: 2rem;
  }
}
.seek-bar {
  width: 100%;
}

.time-display-current,
.time-display-duration {
  flex-grow: 1;
  font-weight: normal;
  min-width: 5rem;
}

.time-display-current {
  color: var(--color-fill);
}

.time-display-duration {
  color: #777;
}
.youtube-player-hidden {
  /* display: none;*/
}
/*Seek bar customization*/

input[type="range"] {
  box-sizing: border-box;
  font-size: var(--font-size);
  line-height: 1;
  height: 0.2em;
  background-color: transparent;
  cursor: pointer;

  -webkit-appearance: none;
  width: 100%;
  transition: background 1s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  margin-top: 0;
  background-color: var(--color-fill);
  border-radius: 1em;
  border: 2px solid var(--color-default);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 2em;
  height: 2em;
  background-color: var(--color-fill);
  border-radius: 1em;
  border: 2px solid var(--color-default);
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 2em;
  height: 2em;
  background-color: var(--color-fill);
  border-radius: 1em;
  border: 2px solid var(--color-default);
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:hover {
  border-color: var(--color-hover);
}
